<!DOCTYPE html>
<html>
  <head>
    <!--
      (1/3)
      <allenown>
        (be very security && Z>B) == True
        try:
          server & web
        except:
           allen eat all error
           (╯‵□′)╯︵ ┴─┴
      </allenown>
    -->
    <meta charset="utf-8" />
    <meta keywords="YunChen,yun,陳允禎,chenyunchen" />
    <meta content="Yun Chen-個人簡介入口網站" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link href='http://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/fontawesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.min.css' />
    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/bg.js'></script>
    <script src='/javascripts/control.js'></script>
    <script src='/bootstrap/js/bootstrap.min.js'></script>
    <script>
      $(function() {
        $('button').tooltip({placement: 'top'});
      });
    </script>
 </head>
  <body id="target">
    <!--
        Find eggs if you can (0/3).
    -->
    <p id="title"><%= title %></p>
    <h3><span id="analysis" class="label label-default">Analysis: Found 10 Fatal Error!!</span></h3>
    <canvas id="canvas"></canvas>
    <a href="https://www.facebook.com/Alex.YunChen"><button id="facebook" type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Find me on Facebook now!"><i class="fa fa-exclamation-triangle fa-1g"></i> Warning:RuntimeWarning</button></a>
    <a href="https://plus.google.com/u/0/104114386123716562935"><button id="googleplus" type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Contact me with g+!"><i class="fa fa-exclamation-triangle fa-1g"></i> Warning:SyntaxWarning</button></a>
    <a href="mailto:yunchen@nisra.net"><button id="mail" type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Have any question?Send a Mail!"><i class="fa fa-exclamation-triangle fa-1g"></i> Warning:ImportWarning</button></a>
    <a href="https://github.com/chenyunchen"><button id="github" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="All my personal projects are here!"><i class="fa fa-times-circle fa-1g"></i> Error:404 Not Found</button></a>
    <a href="http://www.linkedin.com/in/chenyunchen"><button id="linkin" type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" title="If you are use..."><i class="fa fa-exclamation-triangle fa-1g"></i> Warning:UnicodeWarning</button></a>
    <a href="http://www.nisra.net"><button id="nisra" type="button" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Network and Information Security Research Association"><i class="fa fa-exclamation-triangle fa-1g"></i> Warning</button></a>
    <a href="http://chenyunchen.github.io"><button id="blog" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Introduce my-life with Blog"><i class="fa fa-times-circle fa-1g"></i> Error:500 Internal Server Error</button></a>
    <a href="https://speakerdeck.com/chenyunchen"><button id="speakerdeck" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Find all my slides here!"><i class="fa fa-times-circle fa-1g"></i> Error:Command 'cc' failed</button></a>
    <a href="#"><button id="writeahead" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="Ａ project with NTHU"><i class="fa fa-bug fa-1g"></i> Bug</button></a>
    <a href="#"><button id="wargame" type="button" class="btn btn-default btn-xs" data-toggle="tooltip" title="My first project on NISRA"><i class="fa fa-bug fa-1g"></i> Bug</button></a>
  </body>
</html>
